.body { width: 100%; height:100%; margin: 0px; }
.wrapper { width: 1500px; height: 6536px; }

/* Text properties */
.uppercase { text-transform: uppercase; }
.context { font-family: 'Arial'; font-size: 1.81em; line-height: 1.22; font-stretch: condensed; word-spacing: -1px; }

/* Menu text navigation settings */
.navigation { font-family: 'Arial'; font-size: 2.6em; text-align: right; }
.position { position: absolute; }
.container-card { width: 663px; height: 232px; border-radius: 12px; display: inline-flex; }
#card { margin-right: 55px; margin-left: 782px; }
#layer1 { width: 1500px; height: 604px; margin-top: 399px; background-color: #E23147; z-index: -1; }
#tv1 { width: 198px; height: 24px; color: #10B1C9; margin: 92px 520px 0 782px; font-family: 'AdobeNaskh-Medium'; font-size: 3em; }
#tv2 { width: 618px; height: 132px; margin: 138px 100px 0 782px; color: #10B1C9; font-family: 'HelveticaNeueLTCom-Md'; font-size: 2.6em; font-weight: bold; letter-spacing: 0.4px; }
#tv3 { width: 369px; height: 82px; margin-top: 510px; margin-left: 351px; margin-right: 780px; font-family: 'HelveticaNeueLTCom-Md'; color: #ffffff; text-align: right; font-size: 42px; }
#tv4 { width: 646px; height: 62px; margin: 516px 77px 0 783px; color: #ffffff; font-size: 29px; font-family: 'Arial'; }
#tv5 { width: 143px; height: 23px; margin: 683px 575px 0 782px; color: #ffffff; font-size: 29px; font-family: "Arial"; }
#tv6 { width: 492px; height: 32px; margin: 1043px 774px 0 231px; }
#tv7 { width: 646px; height: 237px; margin: 1044px 79px 0 782px; }
#tv8 { width: 177px; height: 28px; margin: 1382px 540px 0 782px; color: #e53143; }
#tv9 { width: 257px; height: 82px; margin: 2182px 774px 0 465px; }
#tv10 { width: 656px; height: 203px; margin: 2179px 63px 0 781px; align-items: left; }
#tv11 { width: 625px; height: 98px; margin: 2471px 104px 0 781px; color: #e53143; }
#tv12 { width: 129px; height: 32px; margin: 3149px 779px 0px 592px; }
#tv13 { width: 646px; height: 133px; margin: 3150px 71px 0 783px; }
#tv14 { width: 512px; height: 63px; margin: 3386px 209px 0 783px; color: #e53143; }
#tv15 { width: 225px; height: 32px; margin: 4622px 779px 0 491px; }
#tv16 { width: 646px; height: 92px; margin: 4623px 76px 0 783px; }
#tv17 { width: 205px; height: 28px; margin: 4821px 517px 0 784px; color: #e53143; }
#tv18 { width: 168px; height: 32px; margin: 5399px 779px 0 553px; }
#tv19 { width: 615px; height: 163px; margin: 5399px 102px 0 783px; }
#tv20 { width: 253px; height: 28px; margin: 5638px 469px 0 784px; color: #e53143; }
#tv21 { width: 1018px; height: 98px; margin: 6191px 244px 0 242px; font-weight: bold; font-family: 'Arial'; font-size: 1.81em; line-height: 1.22; text-align: center; display: flex; justify-content: center; }
#line1 { width: 4px; height: 5099px; margin: 1011px 747px 0px 749px; background-color: #27B1C7; }
#line2 { width: 1382px; height: 3px; margin: 6327px 59px 0px 59px; background-color: #27B1C7; }
#img1 { margin-left: 211px; margin-right: 762px; }
#img2 { width: 685px; height: 188px; margin-right: 815px; margin-top: 284px; }
#img3 { width: 37px; height: 37px; margin-right: 730px; margin-left: 733px; background-color: #ffffff; border-radius: 25px; }
#img4 { margin-right: 56px; margin-left: 743px; z-index: 1; }
#img5 { margin-right: 92px; margin-left: 1358px; }
#img6 { width: 648px; height: 514px; margin: 1621px 418px 0 101px; }
#img7 { width: 568px; height: 362px; margin: 1722px 182px 0 750px; z-index: -1; }
#img8 { width: 930px; height: 513px; margin: 2376px 780px 0 -210px; }
#img9 { margin: 2933px 0 0 754px; }
#img10 { margin: 3739px 779px 0 0; }
#img11 { width: 746px; height: 185px; margin: 4404px 0 0 754px; z-index: -1; }
#img12 { width: 721px; height: 198px; margin: 5154px 779px 0 0; }
#img13 { width: 716px; height: 200px; margin: 5159px 0 0 784px; }
#img14 { width: 721px; height: 698px; margin: 5412px 779px 0 0; }
#img15 { width: 37px; height: 37px; margin: 6106px 730px 0 733px; }
